.card {
  background: var(--card);
  color: var(--card-foreground);
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid var(--border);
}

.card__header {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 6px;
  padding: 24px 24px 0;
}

.card__header:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.card__header.border-b {
  padding-bottom: 24px;
}

.card__title {
  line-height: 1;
}

.card__description {
  color: var(--muted-foreground);
}

.card__action {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: start;
  justify-self: end;
}

.card__content {
  padding: 0 24px;
}

.card__content:last-child {
  padding-bottom: 24px;
}

.card__footer {
  display: flex;
  align-items: center;
  padding: 0 24px 24px;
}

.card__footer.border-t {
  padding-top: 24px;
}
